@import "animations.css";

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: Inder-Regular, sans-serif !important;
}

div {
  border-radius: 15px;
}

.grandFather {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.father {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  background-color: #dcb8c4;
  width: 100%;
}

header figure {
  width: 120px;
  height: 59px;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  animation: fade 3s ease-in-out;
  animation-delay: 30ms;
}

.mainInput {
  display: none;
  align-items: center;
  margin-top: 30px;
  width: 450px;
}

#actualQuestion {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#actualAnswer {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border-color: black;
  height: 50px;
  width: 100%;
  display: flex;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border-color: none;

  background-color: #dcb8c4;
  border: 0;
  cursor: pointer;
  margin-left: -40px;
}

.block {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.425);
  transition: 0.1s;
  background-color: rgb(255, 213, 224, 0.2);
}

.block + .block {
  margin-left: 3%;
}

.block:hover {
  border-style: solid;
  border-color: Black;
}
